* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background: linear-gradient(
        217deg,
        rgb(255 0 0 / 80%),
        rgb(255 0 0 / 0%) 70.71%
      ),
      linear-gradient(127deg, rgb(0 255 0 / 80%), rgb(0 255 0 / 0%) 70.71%),
      linear-gradient(336deg, rgb(0 0 255 / 80%), rgb(0 0 255 / 0%) 70.71%);

}

.sidebar {
    width: 200px; /* Начальная ширина меню */
    height: 100vh; /* Высота меню на всю высоту окна */
    background-color: #1a5300;
    overflow: hidden; /* Скрытие содержимого, выходящего за границы */
    transition: width 2s; /* Плавное изменение ширины */
}

.sidebar:hover {
    width: 300px; /* Полная ширина при наведении */
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    padding: 15px;
    color: rgb(0, 255, 34);
    cursor: pointer;
    transition: background-color 0.3s; /* Плавное изменение фона при наведении */
}

.menu li:hover {
    background-color: #06a058; /* Более темный фон при наведении на элемент меню */
}

.content {
    padding: 20px;
    flex-grow: 1; /* Занимает оставшееся пространство */
}
